{% extends './_base.html' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <h1>My Super App</h1>
        </div>
    </div>

{% endblock %}